commands:
  01mount:
    command: "aws ec2 attach-volume --volume-id vol-003deb8793f753a8a --instance-id $(curl -s http://169.254.169.254/latest/meta-data/instance-id) --device /dev/xvdg"
  02wait:
    command: "sleep 10"
  01mkfs:
    command: "mkfs -t ext3 /dev/xvdg"
  02mkdir:
    command: "mkdir /media/volume1"
  03mount:
    command: "mount /dev/xvdg /media/volume1"