Parameters:
  BackEndPort:
    Type: String
    Description: "Listen port for backend services"
    Default: 8080
  VPCId:
    Type: String
    Description: "VPC id for eb environment"
    Default: vpc-e464b099

Resources:

    ELBSecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: ELB SecurityGroup for eb environment.
            SecurityGroupIngress:
                - FromPort: 80
                  ToPort: 80
                  IpProtocol: tcp
                  CidrIp : 0.0.0.0/0
                - FromPort: 443
                  ToPort: 443
                  IpProtocol: tcp
                  CidrIp : 0.0.0.0/0
            VpcId: '`{ "Ref" : "VPCId" }`'

    EC2SecurityGroup:
        Type: AWS::EC2::SecurityGroup
        Properties:
            GroupDescription: EC2 SecurityGroup for eb environment.
            SecurityGroupIngress:
                - FromPort: '`{ "Ref" : "BackEndPort" }`'
                  ToPort: '`{ "Ref" : "BackEndPort" }`'
                  IpProtocol: tcp
                  SourceSecurityGroupId: { "Fn::GetAtt" : [ "ELBSecurityGroup", "GroupId" ]}
            VpcId: '`{ "Ref" : "VPCId" }`'

    EBAutoScalingLaunchConfiguration:
        Type: AWS::AutoScaling::LaunchConfiguration
        Properties:
            BlockDeviceMappings:
                - DeviceName: /dev/xvda
                  Ebs:
                      VolumeType: gp2
                      VolumeSize: '50'